<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qrreceiptscanner">
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QrReceiptScanner">
        <activity
            android:name=".dummyActivity"
            android:exported="false" />
        <activity
            android:name=".scannerView"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/Theme.QrReceiptScanner.NoActionBar" />
        <activity
            android:name=".loginScreen"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QrReceiptScanner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchTab"
            android:exported="false" />
        <activity
            android:name=".OrderReceipt"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
    </application>

</manifest>